.form {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 1px 1px;
}
.header-table {
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  width: 100%;
}
.header-table td {
  width: 25%;
}
.title {
  height: 125px;
  margin-top: 30px;
  position: relative;
}
.unit-name {
  margin-bottom: 5px;
}
.form-title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.form-table-tr {
	border-bottom-color: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
	border-top: solid black 1px;
	height: 45px;
}
.purpose-td {
  font-size: 12px;
  vertical-align: top;
}
.purpose {
  background: #6D6E71;
  color: white;
  padding: 20px 40px;
  text-align: center;
}
.checkbox {
  padding: 10px;
  text-align: right;
}
.checkbox-title {
  padding-right: 15px;
  text-align: right;
  vertical-align: middle;
}
.checkboxes {
  background: #E6E7E8;
  font-weight: 600;
  padding: 30px 25px;
}
.checkbox-input {
  background: white;
  border: solid black 1px;
  height: 20px;
  width: 20px;
}
.header {
  bottom: 0;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  position: absolute;
  text-transform: upper;
}
.label {
  font-size: 12px;
  font-weight: 100;
  margin-top: 6px;
}
.form-table {
  width: 100%;
}
.form-table tr {
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  height: 45px;
}
.bold {
  font-weight: 600;
}
.description {
  background: #E6E7E8;
}
.description-container {
  font-size: 12px;
  line-height: 1.3;
  margin: 20px 20px;
}
.candy-stripe {
  background: url('candy-stripe.png');
  background-size: cover;
}
.candy-stripe tr {
  border-bottom: solid black 1px;
}
.dotted-line {
  border-bottom: dashed black 1px;
  height: 65px;
  position: relative;
}
.dotted-text {
  bottom: 4px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.spacer {
  height: 25px;
}
.footer {
  height: 100px;
}
.scissors {
  background: url('./scissors.png');
  background-size: cover;
  bottom: 0;
  height: 15px;
  margin-left: 5px;
  position: absolute;
  width: 20px;
}
ul {
  font-size: 10px;
  margin: 7px;
}
ul li {
  margin: 2px 0;
  width: 24%;
  float: left;
}
