.form {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 1px 1px;
}
.header-table {
  border-bottom: black solid 2px;
  border-top: black solid 2px;
  width: 100%;
}
.header-table td {
  width: 25%;
}
.title {
  height: 100px;
  margin-top: 30px;
  position: relative;
}
.unit-name {
  margin-bottom: 5px;
}
.form-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.purpose-td {
  font-size: 12px;
  vertical-align: top;
}
.purpose {
  background: #6D6E71;
  color: white;
  padding: 18px 40px;
  text-align: center;
}
.checkbox {
  padding: 5px;
}
.checkboxes {
  background: #E6E7E8;
  padding: 20px 25px;
}
.checkbox-title {
  /*float: right;
  margin-right: 20px;*/
}
.checkbox-input {
  background: white;
  border: solid black 1px;
  float: right;
  height: 15px;
  width: 15px;
}
.header {
  bottom: 0;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
  position: absolute;
  text-transform: upper;
}
.label {
  font-size: 12px;
  font-weight: 100;
  margin-top: 4px;
}
.form-table {
  width: 100%;
}
.form-table tr {
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  height: 50px;
}
.bold {
  font-weight: 600;
}
.description {
  background: #E6E7E8;
}
.description-container {
  font-size: 12px;
  line-height: 1.3;
  margin: 20px 20px;
}
.candy-stripe {
  background: url('candy-stripe.png');
  background-size: cover;
}
.candy-stripe tr {
  border-bottom: solid black 1px;
}
.dotted-line {
  border-bottom: dashed black 1px;
  height: 50px;
  position: relative;
}
.dotted-text {
  bottom: 0;
  font-size: 13px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.spacer {
  height: 40px;
}
.footer {
  height: 100px;
}
.scissors {
  background: url('./scissors.png');
  background-size: cover;
  bottom: 0;
  height: 15px;
  margin-left: 5px;
  position: absolute;
  width: 20px;
}
.test {
  height: 100px;
  background: repeating-linear-gradient(
    -45deg,
    #E6E7E8,
    #E6E7E8 10px,
    #F6F6F6 10px,
    #F6F6F6 20px
  );
}
